// Bootstrap

html,body {

    min-height:100vh;
    width: auto;
    padding-top:100px;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
}



#xlarg-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#my_footer {
    display: flex;
    background-color: #F6F6F8;
    min-height: 100px;

    width: 100%;
    height: 100px;
    text-align: center;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.thumbnail_product  img {
    width: 266px;
    height: 366px;
}
.product_content {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.product_buttons {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.product_number {
    width:40px!important;
}

.products_header {
    padding:10px 0;
}

.secondary-title {
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
    color: #000;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
}
@media screen  and (min-width: 1024px){
    #content {
        padding-right: 240px;
    }
}

.error {
    //border-color: red!important;
    background-color:#b17272 !important;
    color:white!important;

}

.checkout-payment-form,#payment {
    position: relative;

}

#gif_loader {
    position: absolute;
    left: 0;
    top:0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/*set a border on the images to prevent shifting*/
#gallery_01 img {
    border: 2px solid white;
}

/*Change the colour*/
.active img {
    border: 2px solid #333 !important;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

    }


}

.brand {
    display: none
}

#bound_buttons {
    display: none;
}


@media (max-width: 767px){
    body {
        padding-top: 80px;
    }
    #my_cart {
        display: none;
    }
    .navbar-nav{
        flex-direction: column;

    }
    .logo_nav {
        display: none!important;
    }
    .brand {
        display: block!important;
    }

    .nav_menu  ul {
        flex-direction: column;
    }

    #bound_buttons {
        display: block;
    }

}
.nav_menu  ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_menu  li {
    padding:15px;
}

.brand_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
