@charset "UTF-8";
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }

/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #56cfe1; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
      .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
        font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
      .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
        font-size: 16px; }
      .lib-list-item-product2 .caption-dev .price-dev .price-new {
        font-size: 16px; }
      .lib-list-item-product2 .caption-dev .price-dev .price-old {
        font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }

/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }

/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-1 {
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  .typeheader-1 .row.no-margin {
    margin: 0; }
  .typeheader-1.navbar-compact {
    background-position: left 0; }
    .typeheader-1.navbar-compact .header-middle {
      margin: 0; }
  .typeheader-1 .header-top {
    font-size: 12px;
    background-color: #f6f6f8; }
    .typeheader-1 .header-top .module {
      display: table-cell;
      margin-bottom: 0; }
    .typeheader-1 .header-top .header-top-right {
      text-align: right; }
      .typeheader-1 .header-top .dropdown-menu li {
        line-height: 22px; }
    .typeheader-1 .header-top .header-top-right {
      display: inline-block; }
  .typeheader-1 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top;
    display: inline-flex; }
    .typeheader-1 ul.top-link > li {
      line-height: 40px;
      position: relative;
      list-style: none;
      margin-left: 0px;
      padding-right: 10px;
      padding-left: 0px;
      margin-right: 10px; }
      .typeheader-1 ul.top-link > li:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 13px;
        top: 14px;
        right: 0;
        background-color: #cdcdcd; }
      .typeheader-1 ul.top-link > li .btn-group {
        line-height: 40px; }
        .typeheader-1 ul.top-link > li .btn-group .btn-link {
          padding: 0;
          border: none;
          color: #878787; }
      .typeheader-1 ul.top-link > li > a {
        color: #878787; }
        .typeheader-1 ul.top-link > li > a i {
          margin-right: 5px; }
      .typeheader-1 ul.top-link > li:last-child {
        padding-right: 0px;
        margin-right: 0px; }
        .typeheader-1 ul.top-link > li:last-child:after {
          display: none; }
  .typeheader-1 .header-middle {
    clear: both; }
  .typeheader-1 .header-bottom {
    clear: both; }
    .typeheader-1 .header-bottom .header-bottom-inner ul.megamenu {
      padding: 0 50px; }
  .typeheader-1 .welcome-msg {
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px; }
    .typeheader-1 .welcome-msg span {
      color: #e50000; }
    .typeheader-1 .welcome-msg a {
      color: #222; }
  .typeheader-1 .compare, .typeheader-1 .top-link-wishlist {
    margin: 0 5px;
    display: block;
    line-height: 100%; }
    .typeheader-1 .compare i, .typeheader-1 .top-link-wishlist i {
      font-size: 24px;
      color: #222; }
  .typeheader-1 .header-top-right ul {
    float: right; }
.typeheader-1 .bottom-right .inner {
  float: right; }
.typeheader-1 .bottom-right .search-header-w, .typeheader-1 .bottom-right .wishlist {
  float: left;
  padding: 21px 0; }
.typeheader-1 .top-log li {
  padding: 0;
  line-height: 40px; }
.typeheader-1 .top-log li:first-child {
  padding: 0 5px; }
.typeheader-1 .account {
  float: left;
  position: relative;
  margin: 0 5px;
  padding: 20px 0; }
  .typeheader-1 .account > a {
    display: block;
    line-height: 100%; }
  .typeheader-1 .account i {
    font-size: 24px;
    color: #222; }
  .typeheader-1 .account .dropdown-menu {
    right: -30px;
    left: auto; }
.typeheader-1 .telephone {
  padding: 20px 0; }
  .typeheader-1 .socials li {
    display: inline-block;
    margin-right: 15px; }
    .typeheader-1 .socials li a {
      font-size: 16px;
      color: #222;
      /*=====SEARCH ======*/ }
.typeheader-1 .search-header-w {
  margin: 0 5px;
  position: relative; }
  .typeheader-1 .search-header-w .ico-search {
    width: 24px;
    height: 24px; }
    .typeheader-1 .search-header-w .ico-search i {
      font-size: 24px;
      color: #222; }
    .typeheader-1 .search-header-w .ico-search:hover {
      cursor: pointer; }
  .typeheader-1 .search-header-w #sosearchpro .search {
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    right: -30px;
    left: auto;
    margin-right: 0;
    padding: 0;
    width: 270px; }
    .typeheader-1 .search-header-w #sosearchpro .search button {
      padding: 0 15px; }
.typeheader-1 #sosearchpro .text-keyword {
  padding-left: 20px;
  margin-top: 5px; }
  .typeheader-1 #sosearchpro .text-keyword .title-key b {
    font-weight: 400;
    color: #545454; }
  .typeheader-1 #sosearchpro .text-keyword .item-key a {
    color: #898989;
    text-decoration: underline; }
.typeheader-1 #sosearchpro .search {
  position: relative;
  margin: 0;
  width: 270px;
  border: 1px solid #ddd; }
  .typeheader-1 #sosearchpro .search button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 36px;
    text-align: center;
    line-height: 40px;
    padding: 0 8px;
    font-size: 14px;
    color: #ddd;
    border-radius: 0;
    background-color: #fff; }
    .typeheader-1 #sosearchpro .search button i {
      font-size: 18px;
      color: #444; }
    .typeheader-1 #sosearchpro .search button span {
      display: none; }
  .typeheader-1 #sosearchpro .search input {
    border: none;
    border-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 38px;
    padding-left: 20px;
    font-size: 12px;
    width: 100%;
    background-color: #fff;
    color: #999; }
    .typeheader-1 #sosearchpro .search input::-moz-placeholder {
      color: #999;
      opacity: 1; }
    .typeheader-1 #sosearchpro .search input:-ms-input-placeholder {
      color: #999; }
    .typeheader-1 #sosearchpro .search input::-webkit-input-placeholder {
      color: #999; }
    .typeheader-1 #sosearchpro .search input:focus {
      z-index: 0;
      /*BLOCK CART*/ }
.typeheader-1 .shopping_cart {
  margin: 0 5px;
  padding: 19px 0;
  float: left;
  position: relative; }
  .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart {
    line-height: 100%; }
    .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
      float: left; }
      .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c svg {
        fill: #666; }
    .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart {
      display: inline-flex; }
    .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
      display: inline-block;
      line-height: 40px; }
      .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
        display: none; }
        .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart2, .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_carts {
          display: none; }
        .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-cart .items_cart {
          background-color: #1d1c1c;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font-size: 12px;
          color: #fff;
          display: block;
          text-align: center;
          line-height: 20px;
          position: absolute;
          top: -10px;
          right: -10px; }
  .typeheader-1 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -25px;
    left: auto;
    color: #666; }
  .typeheader-1 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
.typeheader-1 .logo {
  float: left;
  width: 20%;
  text-align: center;
  padding: 16px 0; }
@media (min-width: 1649px) {
  .typeheader-1 .logo {
    width: 14%; } }
.typeheader-1 .menu2, .typeheader-1 .menu1 {
  float: left;
  width: 40%; }
@media (min-width: 1649px) {
  .typeheader-1 .menu2, .typeheader-1 .menu1 {
    width: 43%; } }
.typeheader-1 .menu2 .container-megamenu.horizontal, .typeheader-1 .menu1 .container-megamenu.horizontal {
  width: auto; }
.typeheader-1 .menu1 .container-megamenu.horizontal ul.megamenu {
  float: right; }
.typeheader-1 .menu1 .horizontal ul.megamenu > li > .sub-menu {
  max-width: unset; }
.typeheader-1 .menu1 .container-megamenu ul.megamenu li.item-style1 .sub-menu {
  left: 0 !important; }
.typeheader-1 .menu1 .container-megamenu.horizontal ul.megamenu > li.style-page {
  margin-right: 0;
  margin-left: auto;
  /*MENU MEGA*/ }
.typeheader-1 .megamenu-style-dev .navbar-default {
  background: transparent; }
.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.item-n {
  display: none; }
.typeheader-1 .container-megamenu.horizontal ul.megamenu > li {
  float: left;
  margin-right: 25px;
  margin-left: auto; }
