
<div style="padding-bottom: 25vh"></div>

<footer class="footer-container typefooter-{{typefooter ? typefooter : '1'}}" style="">
	{#======	FOOTER TOP	=======#}
	{% if footer_block7 is not empty %}
	<div class="footer-main collapse description-has-toggle" id="collapse-footer">

		{{footer_block7}}

	</div>
	<div class="description-toggle hidden-lg hidden-md">
         <a class="showmore" data-toggle="collapse" href="#collapse-footer" aria-expanded="false" aria-controls="collapse-footer">
            <span class="toggle-more">{{ objlang.get('show_more') }} <i class="fa fa-angle-down"></i></span>
            <span class="toggle-less">{{ objlang.get('show_less') }} <i class="fa fa-angle-up"></i></span>
		</a>
	</div>
	{% endif %}


	{#======	FOOTER BOTTOM	=======#}
	<div class="footer-bottom">

		<div class="container">
			<div class="row">
				<div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
					{% if soconfig.get_settings('copyright') is empty %}
						{{ powered }}
					{% else %}
						{{ soconfig.get_settings('copyright')|replace({'{year}': "now"|date("Y")}) }}
					{% endif %}
				</div>
				{% if soconfig.get_settings('imgpayment_status')%}
				<div class="payment-w col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<img class="lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="image/{{  soconfig.get_settings('imgpayment') }}"  alt="imgpayment">
				</div>
				{% endif %}
			</div>
		</div>

	</div>
</footer>

<script>
	$(document).ready(function () {

		$('#input-payment-country').select2();
		$('#input-payment-zone').select2();

	});

</script>
