{% if languages|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="btn-group">
      <button class="btn-link dropdown-toggle" data-toggle="dropdown">
      {% for language in languages %}
      {% if language.code == code %}

      <span class="hidden-xs hidden-sm hidden-md">{{ language.name }}</span>
      {% endif %}
      {% endfor %}
      <i class="fa fa-angle-down"></i>
    </button>

    <ul class="dropdown-menu">
        {% for language in languages %}
        <li>
          <button class="btn-block language-select" type="button" name="{{ language.code }}">
		   {{ language.name }}</button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %}
