@charset "UTF-8";
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }

/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #56cfe1; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
      .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
        font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
      .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
        font-size: 16px; }
      .lib-list-item-product2 .caption-dev .price-dev .price-new {
        font-size: 16px; }
      .lib-list-item-product2 .caption-dev .price-dev .price-old {
        font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }

/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }

/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
/*.footer-container{
 margin-top: 40px;
 }*/
.common-home .typefooter-1 {
  border: none; }

.typefooter-1 {
  padding-top: 0px;
  /* GENERAL */ }
  .typefooter-1 .module .modtitle {
    font-size: 16px;
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 25px 0; }
    .typefooter-1 .box-footer .modcontent ul.menu li a {
      border: 0 none;
      padding: 0;
      font-weight: 400;
      line-height: 30px;
      position: relative;
      display: inline-block;
      /*--- block services ---*/ }
  .typefooter-1 .block-services {
    padding: 48px 15px !important; }
    .typefooter-1 .block-services .icon-service .icon {
      width: 45px;
      float: left; }
      .typefooter-1 .block-services .icon-service .icon i {
        font-size: 36px;
        font-weight: bold; }
    .typefooter-1 .block-services .icon-service .text {
      margin-left: 45px; }
      .typefooter-1 .block-services .icon-service .text h6 {
        font-size: 16px;
        color: #222;
        margin-bottom: 0;
        text-transform: uppercase; }
  .typefooter-1 .footer-middle {
    padding-top: 40px; }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block .page-heading {
      font-size: 16px;
      color: #222;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 20px; }
    .typefooter-1 .newsletter-footer1 .newsletter .title-block .promotext {
      line-height: 24px; }
    .typefooter-1 .newsletter-footer1 .newsletter .block_content {
      margin: 20px 0; }
      .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup {
        display: block;
        margin: 0; }
        .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group {
          position: relative; }
          .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group input.form-control {
            border-radius: 40px;
            height: 40px;
            line-height: 40px;
            width: 100%;
            box-shadow: none;
            padding: 0 0 0 15px;
            border: 1px solid #878787;
            background-color: #fff; }
            .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group input.form-control::-moz-placeholder {
              color: #878787;
              opacity: 1; }
            .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group input.form-control:-ms-input-placeholder {
              color: #878787; }
            .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group input.form-control::-webkit-input-placeholder {
              color: #878787; }
            .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group input.form-control:focus {
              z-index: 0; }
        .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe {
          position: absolute;
          top: 4px;
          right: 4px; }
          .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .subcribe button {
            border: 0 none;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            height: 32px;
            line-height: 32px;
            padding: 0 20px;
            text-transform: capitalize;
            border-radius: 32px;
            background-color: #222; }
  .typefooter-1 .socials {
    margin-top: 17px; }
    .typefooter-1 .socials li {
      display: inline-block;
      margin-right: 15px; }
      .typefooter-1 .socials li a {
        font-size: 16px;
        color: #878787; }
  .typefooter-1 .infos-footer a img {
    margin-bottom: 25px; }
    .typefooter-1 .infos-footer .list-icon li {
      padding-left: 32px;
      margin-bottom: 8px;
      position: relative; }
      .typefooter-1 .infos-footer .list-icon li .icon {
        font-size: 24px;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600; }
        .typefooter-1 .infos-footer .list-icon li .icon.pe-7s-map-marker {
          top: 14px;
          /* FOOTER BOTTOM */ }
  .typefooter-1 .footer-bottom {
    margin-top: 30px;
    padding: 15px 0;
    background-color: #f6f6f8; }
    .typefooter-1 .footer-bottom .payment-w {
      text-align: right; }
